@import '../../theme.scss';

mat-form-field{
    width: 100%;
}

.login-button{
    border-color: $primary-color !important; 
}

.spacer{
    flex: 1 auto;
}

h1{
    color: $primary-color !important;
}

.container {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .container > * {
    width: 100%;
  }