@import '../theme.scss';

span{
  color: $primary-color;
}

.spacer {
  flex: 1 auto;
}

.content {
  margin-top: 6.0em;
  min-height: 755px;
}

.menu-button {
  border-color: $primary-color !important; 
  height: 40px;
  font-size: 22px;
}