@import '../theme.scss';

span{
  color: $primary-color;
}

.spacer {
  flex: 1 auto;
}

.content {
  padding-top: 5.0em;
  min-height: 615px;
}

.menu-button {
  border-color: $primary-color !important; 
  height: 40px;
  font-size: 20px;
}